:root {
  --yellow: #ffff00;
  --red: red;
  --black: #030303;
  --white: white;
  --lightyellow: lightyellow;
  --lightblue: lightblue;
  --home: <a href="index.html">Home</a>;
  --contact: <a href="contact.html">Contact</a>;
  
}

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", serif;
  list-style: none;
  text-decoration: none;
}

h1 {
  
  font-size: 1.6rem;
  margin-bottom: 10px;
}

h2 {
  
  font-size: 1.2rem;
  /* margin-bottom: 1vw; */
}

h3 {
  font-size: .8rem;
  /* margin-bottom: .5vw; */
}

p {
  margin-bottom: 10px;
}

p:last-of-type {
  margin-bottom: 0;
}

a {
  /* color: var(--yellow); */
  font-size: clamp(1rem, -0.3299rem + 4.9485vw, 1.5rem);
  
}


body {
  /* margin: auto; */
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  
}

.last-div {
  /* margin-bottom: 99px; */
  }

 /* MARK: BG colour def */

 .bg-yellow {
  background-color: var(--yellow);
  color: var(--black);
}

.bg-lightblue {
  background-color: var(--lightblue);
  color: var(--black);
}

.bg-black {
  background-color: var(--black);
  color: var(--yellow);
  
}

.bg-red {
  background-color: var(--red);
  color: var(--white)
}


.pages {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /* padding: 10px 25px; */
  padding: 0 5%;
  background-color: var(--white);
  height: 100px;
  border-bottom: #030303;
  /* border-style: solid; */
  border-bottom: 2px solid var(--black);

  
}

.pages a {
  color: var(--black);
}

/* MARK: Nav bar */

nav {
  /* margin: 0px 40px 20px 40px; */
  /* padding: 10px 40px; */
  position: sticky;
  top: 0;
  width: 100%;
}

.nav-bar {
  /* min-height: 75px; */
  background-color: var(--white);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-items: right;
  align-items: center;
  /* position:sticky; */
  /* top: 0; */
  padding: 20px 0 15px 0;
  z-index: 1000;
  border-bottom: 2px solid #030303;
}

#logo {
  display: block;
}

.logo-small {
  display: none;
}


/* MARK: Hamburger */

#hamburger {
  display: none;
  
}

/* MARK: Nav Items list */

.nav-links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: var(--white);
  
  
}

.three {
  display: none;
}


.nav-links a {
  padding: 10px 15px 10px 15px;
  /* margin: 20px 10px; */
  color: var(--black);
}

.nav-links a:last-child {
  /* margin-right:20px; */
  color: black;

}

#nav-links {
  display: flex;
  flex-direction: row;
}


main {
  padding: 80px 10px;
  text-align: center;
}



.nav-menu {
  display: none;
}

li a {
  color: var(--black);
}

/* MARK: Footer items */
 


.footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  padding: 25px 0;
  display: grid;
  grid-template-columns: repeat(3, 33.33%);
  justify-items: center;
  align-items: center;
  background-color: var(--black);


}

.footer a {
  margin: 10px 0;
  color: var(--yellow);
}


/* Content areas definitions */

#logotype {
  padding: 10px 0;

}

#hero {
  width: 80%;
}

.hero-image {
  width: 60%;
}



.intro {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  background-color: var(--yellow);

}

.ct-single {
  height: auto;
  padding: 30px 10px;
  /* margin: 20px 0; */
  /* border-radius: 15px; */
  text-align: center;
  align-content: center;
  /* margin-bottom: 30px; */
}

.ct-single li {
  padding-left: 10%;
  text-align: left;
  margin-bottom: 20px;
}

.ct-single li:last-of-type {
  margin-bottom: 0px;
}

.intro-left {
  width: 800px;
  height: 300px;
}

.intro-right {
  width: 400px;
  height: 300px;
}



.her {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-around;
  margin: 50px 0;


}

.hero {
  display: flex;
  flex-direction: column;
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  justify-content: center;
}

.hero :is(h1, h3){
  padding: 20px 0;
  color: var(--white);
  text-align: center;
}


#index-hero {
  background-image: url("/img/bigtruck-1024x731.jpg");
  width: 80%;
}


/* .white {
  background-color: var(--white);
  color: var(--black)
}

.yellow {
  background-color: var(--yellow);
  color: var(--black);
}

.black {
  background-color: var(--black);
  color: var(--yellow);
}

.red */

/* MARK: Contact
 */

 .contacts {
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
  /* padding: 0 8%; */
  margin: 0 4%;
  /* justify-content: space-between; */
  padding-top: 20px;

  

.contact {
  display: grid;
  grid-template-columns: 175px auto;
  /* flex-direction: row; */
  /* align-items: center; */
  /* justify-content: start; */
  /* padding: 0 10%; */
  /* max-width: 300px; */
  margin-bottom: 40px;
  
 }

}
.contact-photo {
 border-radius: 50%;
 width: 125px;
}


.contact-info {
  /* min-width: 125px; */
  display: flex;
  flex-direction:column;
  align-items: start;
  
  
}

.contact a {
  color: var(--black);
}


.end {
  height: 175px;
}

/* MARK: iPad */

@media only screen and (max-width: 768px) {
  body {
    margin: auto;
    /* padding: 0 20px; */
    /* width: 100%; */
    text-align: center;
  }

  main {
    /* padding: 50px 5%; */
    text-align: center;
  }

  nav {
    /* margin: 0; */
    padding: 0px;
  }

  #logotype {
    width: 120px;
  }

  .nav-bar {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    align-content: center;
    padding: 0 20px 0;
  }

  .nav-links {
    display: inline-block;
    padding-right: 20px;
    
  }
  .contacts {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    /* padding: 0 50px; */
    justify-content: space-between;
    
  }
   .contact-photo {
    border-radius: 50%;
    width: 125px;
  }
  

  /* .nav-items {
    display: none;
  } */

  /* #nav-items.is-active {
    display: flex;
    flex-direction: column;
  } */

  /* #hamburger-menu {
    display: flex;
    flex-direction: column;
  } */


  .hero-image {
    width: 100%;
  }

  .ct-single {
    /* min-height: 100px; */
    padding: 20px 0;
    /* margin-bottom: 25px; */
    /* border-radius: 15px; */

  }

.last-div {
  margin-bottom: 128px;
  }
} 

/* MARK: iPhone */

@media only screen and (max-width: 430px) {
  body {

    margin: 0;
    padding: 0;

  }

  main {
    padding: 0;
    margin: 10px 0;
    /* text-align: center; */
  }

  #logo {
    display: none;
  }
  
  .logo-small {
    display: inline-block;
    height: 50px;
  }
  
  .pages {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /* padding: 10px 25px; */
  height: 50px;

  
  }




  .nav-bar {

    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    align-content: center;
    padding: 0;
  }

  .nav-links {
    display: none;
    
  }


  .three {
    display: flex;
    flex-direction: column;
    
  }
  

  #hamburger {
    display: flex;
    flex-direction: column;
    /* height: 35px; */
    /* padding: 5px 0 5px 0; */
  
  }

  .row .three{
  padding: 80px 0px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* background-color: #2c3e50; */
  /* color: #ecf0f1; */
  color: black;
  text-align: center;
  }

  .hamburger .line{
  width: 40px;
  height: 5px;
  /* background-color: #ecf0f1; */
  background-color: var(--black);
  display: block;
  margin: 4px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-radius: 4px;
  }

  .hamburger:hover{
  cursor: pointer;
  }

  #hamburger.is-active .line:nth-child(2){
  opacity: 0;
  }

  #hamburger.is-active .line:nth-child(1){
  -webkit-transform: translateY(13px) rotate(45deg);
  -ms-transform: translateY(13px) rotate(45deg);
  -o-transform: translateY(13px) rotate(45deg);
  transform: translateY(13px) rotate(45deg);
  }

  #hamburger.is-active .line:nth-child(3){
  -webkit-transform: translateY(-13px) rotate(-45deg);
  -ms-transform: translateY(-13px) rotate(-45deg);
  -o-transform: translateY(-13px) rotate(-45deg);
  transform: translateY(-13px) rotate(-45deg);
  }

  #hamburger.is-active + #nav-menu {
  display: flex;
  flex-direction: column;
  position: relative;
  transition: all 0.5 all ease-in-out;
 
  }

  .ct-single {
  /* height: 50px; */
  padding: 15px;
  /* margin-bottom: 10px; */
  
  }

  .her {
  padding: 0 20px;
  }

  /* #hero {
    width: 80%;
  } */

  /* MARK: Contacts
   */


  .contacts {
    display: grid;
    grid-template-columns: 100%;
    justify-content: start;
    align-items: center;
    /* padding: 0 25px; */
    
  }

   .contact-photo {
  border-radius: 50%;
  width: 125px;
  }

  .contact {
  display: grid;
  grid-template-columns: 125px auto;
  /* flex-direction: row; */
  align-items: center;
  justify-content: start;
  /* padding: 0 10%; */
  /* max-width: 300px; */
  /* margin: 10%; */
  
  }



  .contact-info {
  min-width: 100px;
  display: flex;
  flex-direction:column;
   
  }

  .contact a {
  color: var(--black);
  }

  h1 {
  margin-bottom: 15px;
  }

  #other-info h1 {
  margin-bottom: 15px;
  }

  h3 {
  font-size: 1.5rem;
  }

  .footer {
 

  grid-template-columns: auto;
  padding: 0;

  }

  .last-div {
  margin-bottom: 117px;
  }


}