:root {
  --yellow: #ffff00;
  --red: red;
  --black: #030303;
  --white: white;
  --home: <a href= "index.html" >Home</a>;
  --contact: <a href= "contact.html" >Contact</a>;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", serif;
  list-style: none;
  text-decoration: none;
}

body {
  max-width: 1200px;
  width: 80%;
  margin: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

nav {
  display: flex;
  background-color: var(--yellow);
  /* height: 100px; */
  flex-direction: row;
  justify-content: right;
  
}

main {
  padding: 50px 5%;
  text-align: center;
}

header {

  
}

footer {
  position: fixed;
  bottom: 0px;
  background-color: var(--black);
  height: 100px;
  max-width: 1200px;
  width: 80%;

}

#nav-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: var(--yellow);
      
}

#nav-items a {
  color: var(--black);
}

#nav-items a {
  padding: 10px 5px;
  margin: 20px 10px;

}

#nav-items a:last-child {
  margin-right: 20px;

}

#logotype {
  padding: 10px;
  
}

#hero {
  width: 80%;
}

.intro {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  background-color: var(--yellow);
  
}


.intro-left {
  width: 800px;
  height:300px;
}

.intro-right {
  width: 400px;
  height: 300px;
}

.nav-bar {
  min-height: 50px;
  /* background-color: var(--yellow); */
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
  
}

.nav-items {
  display: flex;
  flex-direction: row;
}

.hero {
  display: flex;
  flex-direction: column;
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  justify-content: center;
}

.hero h1,
.hero h3 {
  padding: 20px 0;
  color: var(--white);
  text-align: center;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--black);
  position: sticky;
  bottom: 0;
  
}

.footer a {
  padding: 10px 0;
}

#index-hero {
  background-image: url("/img/bigtruck-1024x731.jpg");
}

h1 {
  color: var(--black);
  font-size: clamp(1rem, -0.3299rem + 4.9485vw, 3rem);
}

a {
  color: var(--yellow);
  font-size: clamp(1rem, -0.3299rem + 4.9485vw, 2rem);
}


.white {
  background-color: var(--white);
}

.yellow {
  background-color: var(--yellow);
}

.black {
  background-color: var(--black);
}

@media only screen and (max-width: 768px) {
  body {
    width: 100%;
  }

  main {
    padding: 50px 5%;
    text-align: center;
  }

  footer {
    width: 100%;
    right: 0;
    left: 0;
  }
}

@media only screen and (max-width: 430px) {
  body {
    
    /* width: 80%; */
    margin: auto;
    
  }

  main {
    padding: 50px 5%;
    text-align: center;
  }

  #hero {
    width: 80%;
  }

  .nav-items {
    display: flex;
    flex-direction: row;
  }

  #nav-items {
    
  }
}